
/* .win1 { 
    height: 10vh;
    width: 8vw; 
    /* border: 2px solid red; 
    border-radius: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
    

 }  */
 
 .box1 {
    /* height: fit-content; */
    text-align: left;
    border-radius: 5%;
    color: darkblue;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border: 2px solid red;
   text-align: center;
 } 
/*  
 .win01 { 
    height: 10vh;
    width: 8vw; 
    border: 2px solid red;
    border-radius: 5%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
    

 }  */
 .box01 {
    height: fit-content;
    text-align: right;
    border-radius: 5%;
    color: darkblue;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid red;
    text-align: center;
 } 
 .left {
     position: absolute;
     top: 0;
     left: 18%;
     height: 50%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
  
    
 }
 .bottomLeft {
    position: absolute;
    top: 50%;
    left: 18%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .right{
    position: absolute;
    top: 0;
    right: 18%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .bottomRight {
    position: absolute;
    top: 50%;
    right: 18%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }