
.egame1 {
    position: relative;
    text-align: left;
    border-radius: 3%;
    white-space: nowrap;
    border: 1px solid blue;
    background-color: darkgrey;
}

.vs {
    margin: 0;
    border: 1px solid red;
    width: 60%;
}
.score001{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    background-color: whitesmoke;
  
}
.score002 {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
}
.addTeamButton {
    height: 44%;
    width: 35%;
    background-color: blue;
    color: white;
    background: linear-gradient(90deg, grey, blue, white);
    border-radius: 30px;
    background-size: 400%;
    font-size: 75%;
    text-align: center;
}
.addTeamButton:hover {
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}


.egame2 {
    position: relative;
    text-align: right;
    border-radius: 3%;
    border: 1px solid blue;
    background-color: darkgrey;
  
}

.vs2 {
    white-space: nowrap;
    margin: 0;
    border: 1px solid red;
    width: 60%;
    position: absolute;
    right: 0;
}
.scoreLeft1{
    white-space: nowrap;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    color: red;
}
.scoreLeft2 {
    white-space: nowrap;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
}
.addTeamButton1 {
    width: 35%;
    height:44%;
    margin-right: 13%;
    color: white;
    background: linear-gradient(90deg,grey, blue, white );
    border-radius: 30px;
    background-size: 400%;
    font-size: 75%;
    text-align: center;
}
.addTeamButton1:hover {
    animation: animate 8s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}
.teamDiv {
    width: fit-content;
    margin: 0;
    
}
.td1 {
    position: absolute;
    top: 0;
    right: 9%;
    border: none;
}
.td2 {
    position: absolute;
    bottom: 0;
    right: 9%;
    border: none;
}
.td3 {
    position: absolute;
    top: 0;
    left: 9%;
    border: none;
}
.td4 {
    position: absolute;
    bottom: 0;
    left: 9%;
    border: none;
}
.teamDivRight {
    width: fit-content;
    margin-left: 55%;
}