.regions {
    white-space: nowrap;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position:relative;
    border-radius: 2%;
/* go back and create just one region and reuse it for the rest  */
   
}
.regionE{
    white-space: nowrap;
    position: absolute;
    color: darkblue;
    height:48%;
    width: 16%;
    top: 1%;
    left:1%;
    text-align: center;
    border: 2px solid red;
    border-radius: 2%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.regionS {
    white-space: nowrap;
    position: absolute;
    width: 16%;
    top: 1%;
    right: 1%;
    text-align: center;
    border: 2px solid red;
    border-radius: 2%;
    color: darkblue;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 48%;
}
.regionW {
    white-space: nowrap;
    position: absolute;
    height: 48%;
    width: 16%;
    bottom: 1%;
    left: 1%;
    text-align: center;
    border: 2px solid red;
    border-radius: 2%;
    color: darkblue;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.regionMW {
    white-space: nowrap;
    position: absolute;
    width: 16%;
    bottom: 1%;
    right: 1%;
    text-align: center;
    border: 2px solid red;
    border-radius: 2%;
    color: darkblue;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 48%;
}
.gameone {
    white-space: nowrap;
    background-color: black;
}
.button1 {
    white-space: nowrap;
    position: absolute;
    top: 5%;
    left: 50%;
}
.E {
    white-space: nowrap;
    border: 4px solid blue;
    color: darkblue;
    position: absolute;
    top: 8%;
    left: 38%;
    border-radius: 5%;
    background-color: darkgrey;
}
.W {
    white-space: nowrap;
    border: 4px solid blue;
    color: darkblue;
    position: absolute;
    bottom: 8%;
    left: 38%;
    border-radius: 5%;
    background-color: darkgrey;
}
.S {
    white-space: nowrap;
    border: 4px solid blue;
    color: darkblue;
    position: absolute;
    top: 8%;
    right: 38%;
    border-radius: 5%;
    background-color: darkgrey;
}
.MW {
    white-space: nowrap;
    border: 4px solid blue;
    color: darkblue;
    position: absolute;
    bottom: 8%;
    right: 38%;
    border-radius: 5%;
    background-color: darkgrey;
}