.aboutStyle {
    text-align: center;
    background-color: darkgrey ;
    height: fit-content;
    width : 40%;
    background: rgba(44, 44, 44, 0.863);
    color: white;
    border-radius: 5%;
}
.rulesBody {
    height: 100%;
    width: 100%;
    background: url("../images/march_madness_court_colored.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin: 0;
}
#videoContainer {
    height: 50%;
    width: 50%;
}
.navbar {
    background-color: #333;
    color:  white;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
    text-align: center;
}
.navFlow {
    display: flex;
    justify-content: center;
    
   
}
.divLinkStyle {
    border-radius: 5%;
    text-decoration: none;
    transition: 0.5s;
    margin: 0 5% 1% 5%;
    background: linear-gradient(45deg, grey, blue, #1b18eb );
    background-size: 400%;
    text-align: center;
    font-size: 200%;
    animation: animate 10s alternate infinite;
   
}
.linkStyle{
    color: whitesmoke;
    text-decoration: none;
}
.linkStyle:hover {
    color: white ;
    border-radius: 5%;
}
.divLinkStyle:hover {
    border-radius: 5%;
    transform: scale(2, 2);
    width: fit-content;
}
@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}
.bracketContainer {
   justify-content: space-evenly;
   align-items: center;
   background: url("../images/Basketball_Court_Background_Slide_Show.jpg");
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
 
}
.wrapperCSS {
    height: 85vh;
    width: 85%;
    position: relative;
    background-image: url(../images/march_madness_court_colored.jpg);
    background-size: cover;
    border-radius: 2%;
}

table {
    border-collapse: collapse;
    background: rgba(44, 44, 44, 0.6);
    color: whitesmoke;
}

td, th {
    border: 1px solid cornflowerblue;
    padding: 0.5rem;
    text-align: center;
}
.newsPage {
    background-image: url("../images/march_madness_court_colored.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.articles {
    height: 30vh;
    width: 60%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    border: 10px solid #1b18eb;
    margin-top: 20px;
    border-radius: 1%;
    position: relative;

    
}
.aImg {
    height: 120px;
    width: 210px;
    margin: 0;
    background-color: green;
    position: absolute;
    top: 15%;
    left: 5%;
}
.aHeadLine {
    width: 67%;
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    height: 55%;
    font-size: 36px;
    color: whitesmoke
}
.aP {
    color: #006cfa;
    width: 90%;
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 22px;
}
a {
    text-decoration: none;
}
/*   

="a.articles">
                  <a className="a.link" key={e} href={articles.link}> 
                       <img className="a.img" key={i} alt="img.article" src={articles.img} />
                    <h1 key={o} className="a.headLine">{articles.headline}</h1>
                    <p classNam="a.p" key={u}>{articles.art */

