.bracket {
    background: url("../Wrapper/img/march_madness_court_colored.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 2%;
    position: relative;
    
}